
/* LOgin style */
*{
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login{
    width:100% ;
    text-align: center;
    position: relative;
}
header{
    height:60vh;
    text-align: center;
    padding: 5%;
    color: #fff;
    background-color:#6360FF;
    border-radius: 10px;
    
}
.container{
    margin-top: 56px;
}
.lines{
    width: 100%;
    height: 10px;
    z-index: 15;
    color: cadetblue;
}
.header-title{
 font-size: 35px;
}
.header-desc{
   font-size: 12px; 
   font-weight: 200;
   margin-top: -15px;
}
.head-logo{
    width: 59px;
    height: 59px;
}

.login_info{
    width: 100%;
    height: 61vh;
    background-color: #F1F1FA;
    border-radius: 25px;
    position: absolute;
    top:240px;
    padding-top: 15px;
}

form {
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
    

    }
    .field , button{
      width: 80%; 
      padding: 10px; 
      margin-bottom: 10px; 
      height:35px ;
      border-radius: 7px;
      margin-bottom: 17px;
    }
   
    .field{
    display: flex;
    align-items:center ;
    justify-content: center;
    width:80%;
    background-color: #fff;
    margin-top: 10px;
    }
    input{
        border: none;
        outline: none;
        width: 85%;
    }
    input::placeholder{
        color: #C4D0D9;
        text-align: left;
    }
    .icon { 
        padding: 10px; 
        width: 15%;
       text-align: left;
       color: #6360FF;;
       
    } 
  
    button{
        text-align: center;
        padding-top: 3px;
        color: #fff;
        border: none;
        outline: none;
    }
    button:hover{
        outline: none;
        background-color: rgb(227, 227, 234);
        font-size: 18px;
    }
    .btn1:hover{
        color: #6360FF;
    }
    .btn1{
        background-color: #6360FF;
    }
    .btn1 a{
        text-decoration: none;
    }
    .btn2{
        background-color: #FF8181;
    }
    .btn2:hover{
        color:#FF8181 ;
    }
    footer{
        padding-top: 14px;
        color: #91919F;
        font-size: 12px;
    }
/* For Responsive */
       
        @media screen  and  (min-width: 768px) {
            header{
                height:50vh;
            }
            .login{
                width: 70%;
                margin:7px auto;
            }
            .login_info{
                height: 59vh;
                }
            footer{
                padding-top: 0px;
            }
            } 
 @media screen  and  (min-width: 1024px) {
    .header-desc{
        font-size:15px;
    }
    .login_info{
        top:250px;
    }
                }   
      