
/* LOgin style */
*{
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login{
    width:100% ;
    text-align: center;
    position: relative;
}
header{
    height:55vh;
    text-align: center;
    padding: 5%;
    color: #fff;
    background-color:#6360FF;
    border-radius: 10px;
    
}
.container{
    margin-top: 56px;
}
.lines{
    width: 100%;
    height: 10px;
    z-index: 15;
    color: cadetblue;
}
.header-title{
 font-size: 35px;
}
.header-desc{
   font-size: 12px; 
   font-weight: 200;
   margin-top: -15px;
}
.head-logo{
    width: 45px;
}

.login_info{
    width: 100%;
    height: 54vh;
    background-color: #F1F1FA;
    border-radius: 25px;
    position: absolute;
    top:247px;
}

form {
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
    

    }
    input, button{
      width: 100%; 
      padding: 10px; 
      margin-bottom: 10px; 
      height:35px ;
      border-radius: 7px;
      margin-bottom: 17px;
    }
   
    .field{
    display: flex;
    align-items:center ;
    justify-content: center;
    width:100%;
    }
    input{
        position: relative;
        background-color: #fff;
        border: none;
        outline: none;
    }
    input::placeholder{
        color: #C4D0D9;
        padding-left: 20px;
    }
    .icon { 
        padding: 10px; 
        width: 70px;
       text-align: left;
       position: absolute; 
       left :15px;
       color: #6360FF;;
       
    } 
    .icone1{
        top: 1em;
    }
    .icon2{
        top: 4.1em;
    }
    button{
        text-align: center;
        padding-top: 3px;
        color: #fff;
        border: none;
        outline: none;
    }
    .btn1{
        background-color: #6360FF;
    }
    .btn2{
        background-color: #FF8181;
    }
    footer{
        color: #91919F;
        font-size: 12px;
    }
/* For Responsive */
       
        @media screen  and  (min-width: 768px) {
            .login{
                width: 50%;
                margin:7px auto;
            }
            header{
                padding-top:-30px;
            }
            .icon {
                left:20px
               }
               .icone1{
                top: 1.1em;
            }
            .icon2{
                top: 4.4em;
            }
            }  
            /* *************************************  */
            @media screen and (min-width:1024px) {
                .icon {
                    left:1.7em;
                   }
                   .icone1{
                    top: 1.8em;
                }
                .icon2{
                    top: 4.8em;
                }
            }

      